.banner{
    background: url(../conference-winter2019/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.gsggb-logo{
    width: 95px;
    height: 95px;
    float: left;
    margin-right: 5px;
}

.carrm-logo{
    width: 45px;
    height: 45px;
    float: right;
    margin-bottom: 5px;
}

.utpms-logo{
    width: 45px;
    height: 45px;
    float: right;
}

#nav-font-family{
    font-size: 18px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
}

#nav-color{
    color: white;
    margin-right: 5px;
}

nav a:hover{
	transition: font-size 1s;
	font-size: 1.1em;
}


.conference-title{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 66px;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: -2px -2px 2px #2C2C2C;
    padding-top: 125px;
}

.conference-subtitle{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 38px;
    text-align: center;
    color: white;
    text-shadow: -2px -2px 2px #2C2C2C;
    margin-bottom: 30px;
}

.conference-button{
    text-align: center;
    padding-bottom: 225px;
}

#eventbrite-button{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 30px;
    background: #FF8000;
    border-color: #FF8000;
    color: white;
}


.black-section{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #2C2C2C;
}

.gray-section{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #3B3B3B;
}

.section-title{
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    margin-bottom: 20px;
}

/* Section with conference poster */
.poster-image{
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* About section*/
.about-us-section{
    font-size: 23px;
    text-align: justify;
    color: white;
    background: #2C2C2C;
}


/* Speaker section */
.card-transparent{
    background-color: #2C2C2C;
    border: 2px solid #E5E5E5;
    text-align: center;
}

.speaker-photo{
    border-radius: 50%;
    width: 190px;
    height: 190px;
    margin-top: 25px;
    cursor: pointer;
}

.speaker-photo:hover {
     opacity: 0.7;
}

.speaker-name{
    color: white;
    text-align: center;
    font-weight: bold;
}

.speaker-description{
    color: white;
    text-align: center;
}


/* MODAL */
.modal-content{
    background-color: whitesmoke;
}

.enlarged-speaker-photo{
    border-radius: 50%;
    width: 225px;
	height: 225px;
    margin-bottom: 25px;
}

#close-button{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
}

.name{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    color: black;
}

.description{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #4c4c4c;
    margin-bottom: 20px;
}

.divider{
    border-width: 1px;
    border-color: #4c4c4c;
    margin-bottom: 20px;
}

.biography{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    color: black;
}

#modal-header{
    border-width: 0px;
}

/* Sponsors Section */
.sponsors-section{
    font-size: 23px;
    text-align: justify;
    color: white;
    background: #3B3B3B;
}

/* Sponsors Logo Pictures */
.u-of-t-logo{
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.assu-logo{
    width: 275px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.rbc-logo{
    width: 175px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.oztrekk-logo{
    width: 325px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

