@media (min-width: 768px){
    .vertical-spacing{
        display: none;
    }
}

@media (max-width: 768px){
    .navbar-dark{
        background: url(../conference-winter2019/banner.jpg) !important;
    }
    
    .conference-title{
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 52px;
        font-weight: bold;
        text-align: center;
        color: white;
        text-shadow: -2px -2px 2px #2C2C2C;
        padding-top: 75px;
    }

    .conference-subtitle{
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 24px;
        text-align: center;
        color: white;
        text-shadow: -2px -2px 2px #2C2C2C;
        margin-bottom: 30px;
    }

    .conference-button{
        text-align: center;
        padding-bottom: 150px;
    }

    #eventbrite-button{
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 18px;
        background: #FF8000;
        border-color: #FF8000;
        color: white;
    }
    
    .about-us-section{
        font-size: 20px;
    }

    .poster-image{
        width: 100%;
    }
    
    .card-transparent{
        margin-bottom: 25px;
    }
    
    .schedule-image{
        width: 100%;
    }
}

/* For small mobile devices */
@media (max-width: 386px){
    .assu-logo,.oztrekk-logo{
        width: 100%;
        height:auto;
    }
    
    .rbc-logo,.u-of-t-logo{
        width: 80%;
        height:auto;
    }
}


/* Very small mobile screens */
@media (max-width: 330px){
    .enlarged-speaker-photo{
        width: 150px;
        height: 150px;
    }
}
