@media only screen and (max-width:765px) {
  .centered-title {
    font-size: 25px;
  }

  .centered-subtitle {
    font-size: 16px;
  }

  .register-button {
    font-size: 14px;
  }

  .countdown {
    font-size: 20px;
  }
  .counter {
    font-size: 20px;
  }

  .about-button {
    font-size: 12px;
  }

  .about-div h3 {
    font-size: 20px;
  }

  .about-div p {
    font-size: 15px;
  }

  .speaker-description {
    font-size: 15px;
  }
}
